package-lock.json

# Node modules excepted module creation

node_modules/**
_async/node_modules/**
# whitelist folder
!/node_modules/module_creation/
# whitelist files
!/node_modules/module_creation/*