package-lock.json
mysql-apt-config_0.8.15-1_all.deb

# Node modules excepted module creation

node_modules/**
_async/node_modules/**
# whitelist folder
!/node_modules/module_creation/
# whitelist files
!/node_modules/module_creation/*